/* Flex */
.flex {
  display: flex; /*aqui vai ficar do mesmo tamanho que o conteudo*/
}

.flex-wrap {
  flex-wrap: wrap; /* vai definir se o item vai quebrar ou não, caso eu não coloque o conteúdo vai vazar*/
}

.flex-item-1 {
  /*vai ajustar os itens para que caiba dentro do container! É IMPORTANTE: tem que colocar dentro do item, não no container*/
  flex: 1;
}

/* Flex Item */
.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

body {
  font-family: monospace;
  color: #333;
}
